{% extends 'tasks/base.html' %}
{% block title %}Yangi vazifa qo‘shish{% endblock %}

{% block content %}
    <h2 class="mb-3">Yangi vazifa qo‘shish</h2>
    <form method="POST" class="card p-4 shadow-sm">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Vazifa nomi</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Tavsif (ixtiyoriy)</label>
            <textarea name="description" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Qo‘shish</button>
        <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Orqaga</a>
    </form>
{% endblock %}
